__/pycache/
.idea/
*.pyc

#MSCode stuff
.DS_Store

#vim stuff
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim

.netrwhist
*~
tags
[._]*.un~


# ignore static folder nginx uses, to update static folder add to app specific static folder then run python3 manage.py collectstatic
/static/
SeniorProject/static/*
*.sock
uwsgi_params
