__/pycache/
.idea/
*.pyc

#MSCode stuff
.DS_Store

#vim stuff
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim

.netrwhist
*~
tags
[._]*.un~

#ignore static folder nginx uses, update yours by running python3 mangage.py collectstatic
/static/
