{% extends "DrinkBeyondThePossible/home.html" %}
{% load static %}

{% block title %}
    <title>Account Management</title>
{% endblock title %}

{% block content %}
    <h1 class="centeredTitle">Account Management</h1>
    <div class="centeredContainer">
        <a href="{% url 'ingredientList' %}" class="centeredButtons pure-button pure-button-primary">View/Update Ingredient List</a>
        <a href="{% url 'recipes' %}" class="centeredButtons pure-button pure-button-primary">View/Update Custom Drinks</a>
        <a href="commentsurl" class="centeredButtons pure-button pure-button-primary">View Comment Posts</a>
		<a href="{% url 'editAccount' %}" class="centeredButtons pure-button pure-button-primary">Change Username/Email</a>
		<a href="{% url 'favoriteDrinkList' %}" class="centeredButtons pure-button pure-button-primary">View Favorite Drinks</a>
    </div>
{% endblock content %}
