<!DOCTYPE <!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drink Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'DrinkBeyondThePossible/style.css' %}">
    <script src="main.js"></script>
</head>

<body>
    <ul class="navmenu">
        <li class="navitem">Home</li>
        <li class="navitem">Account</li>
    </ul>
    
    <h1>[Drink Name]</h1>
    <!-- Must be changed from default image to correct drink image-->
    <img src="{% static "DrinkBeyondThePossible/coctail-icon.jpg" %}">
    <h3>Rating:</h3>

    <h3>Ingredients:</h3>
    <ul>
        <li>Ingredient 1</li>
        <li>Ingredient 2</li>
    </ul>

    <h3>Instructions:</h3>
    <ul>
        <li>Instruction 1</li>
        <li>Instruction 2</li>
    </ul>
    <h3>Comments</h3>
    <hr>

    
    

</body>
</html>