{% extends "DrinkBeyondThePossible/home.html" %}
{% load static %}

{% block title %}
    <title>Custom Drink - {{ recipe.drink_name }}</title>
{% endblock title %}

{% block content %}
	<h1>{{ recipe.drinkName }}</h1>
		    
	<div class="drinkInfo">

		{% if recipe.image %}
			<img src="{{ recipe.image }}" align="right" width="25%" height="25%" id="drinkimg">
		{% else %}
			<img src="{% static 'DrinkBeyondThePossible/coctail-icon.jpg' %}" width="25%" height="25%">
		{% endif %}
	    


		<h3>Ingredients:</h3>
		{% for ingredient in recipe.ingredients %}
		<label class="container">
			{% if ingredient|lower not in user_ingredients %}
				<input type="checkbox" value="{{ ingredient|lower }}"checked="checked">
			{% endif %}
			
			<span class="checkmark"></span>
			{{ ingredient }}
	  	</label>
		{% endfor %}

	  	<!--Note: Instructions come as a string and not individual steps-->
		<h3>Instructions:</h3>
		{{ recipe.instructions }}


	    <div class = "Description"> 
		    <h4>Description:</h4>
		    <p>{{ recipe.description }}</p>
		</div>
	</div>
{% endblock content %} 
