<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Drink Beyond the Possible</title>{% endblock title %}
    <link rel="stylesheet" type="text/css" href="{% static 'DrinkBeyondThePossible/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
{% block jquery %}
        <script>
            $(document).ready(function()
            {
                //Plus button
                $("#addEntry").click(function(event)
                {
                    $("#entryInputs").append("<input class='searchEntry' type='text'name='ingredient'>");
                });
            });
        </script>
{% endblock jquery %}

<body>
    {% include "DrinkBeyondThePossible/navigation.html" %}

    {% block content %}
        <h1 class="centeredTitle">Drink Beyond the Possible</h1>
        <h4 class="centeredTitle">Enter available ingredients:</h4>
        <form id="searchForm" action="{% url 'results' %}">
           <div id="entryInputs" class="centeredContainer">
                <input class="searchEntry" type="text" name="ingredient">
            </div>

            <button id="addEntry" type="button" class="centeredButtons">+</button>
            <br>
            <button id="searchDrinks" class="centeredButtons" type="submit">Search for matching drinks</button> 
        </form>
    {% endblock content %}
</body>
</html>