{% extends "DrinkBeyondThePossible/home.html" %}
{% load static %}

{% block title %}
    <title>Ingredient List</title>
{% endblock title %}

{% block jquery %}
        <script>
            $(document).ready(function()
            {
                $("#addEntry").click(function(event)
                {
                    $("#ingredients").append("<input style='display:block' type='text' name='ingredient'>");
                });

                $("#deleteIngredients").click(function(event)
                {

                });
            });
        </script>
{% endblock jquery %}

{% block content %}
    <h1 class="centeredTitle">Edit Ingredient List</h1>
    <div class="centeredContainer" align="center">
        <form class="pure-form pure-form-stacked" action="{% url 'ingredientList' %}" method="POST">
        {% csrf_token %}
            <label for="ingredients">New ingredients:</label>
            
            <div id="ingredients">
                <input style="display:block" type="text" name="ingredient">
            </div>
            <button id="addEntry" type="button">+</button>

            <button class="pure-button pure-button-primary" type="submit">Save</button>
        </form>
    </div>
    

    <!--Ingredient list region-->
    <style>h3{text-decoration: underline;}</style>
        <div>
            <ul>
                <h3>My Ingredients</h3>
				{% if not ingredients %}
					No Ingredients saved!
				{% else %} 	
                    <form class="pure-form pure-form-stacked" action="{% url 'ingredientList' %}" method="POST">
                        {% csrf_token %}
                        {% for ingredient in ingredients %}
                            <div>
                                <input type="checkbox" name="delIngredient" id="ing_{{ ingredient.ingredient }}" value="{{ ingredient.ingredient }}">
                                <label style="display: inline" for="ing_{{ ingredient.ingredient }}">{{ ingredient.ingredient }}</label>
                            </div>
                        {% endfor %}
                        <button id="deleteIngredients" class="pure-button pure-button-primary" type="submit">Delete</button>
                    </form>
				{% endif %}
            </ul>
        </div>
{% endblock content %}
