{% extends "DrinkBeyondThePossible/home.html" %}
{% load static %}

{% block title %}
    <title>New Custom Drink</title>
{% endblock title %}

{% block jquery %}
        <script>
            $(document).ready(function()
            {
                $("#addEntry").click(function(event)
                {
                    /*$("#entryInputs").append("<input class='searchEntry' type='text'name='ingredient'>");*/
                });
            });
        </script>
{% endblock jquery %}

{% block content %}
    <h1 class="centeredTitle">Make Your Own Recipe!</h1>

    <form action="{% url 'recipeEntry' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="drinkName">Drink Name:</label>
            <input type="text" id="drinkName" name="custom_drink_name">
        </div>

        <div>
            <label for="recipe">Enter ingredients:</label>
            <div id="recipe">
                <input type="text" name="ingredient">
            </div>
            <button id="addEntry" type="button">+</button>
        </div>

        <div>
            <label for="drinkImage">Add an image:</label>
            <input type="file" id="drinkImage" name="image" accept="image/*">
        </div>

        <div class="button">
            <button type="submit">Save</button>
        </div>
    </form>

    <!--Saved Recipe region-->
    <style>h3{text-decoration: underline;}</style>
    <div>
        <h3>Saved Recipes</h3>
        <ul>

        </ul>
    </div>
{% endblock content %}