{% extends "DrinkBeyondThePossible/home.html" %}
{% load static %}

{% block title %}
    <title>New Custom Drink</title>
{% endblock title %}

{% block jquery %}
        <script>
            $(document).ready(function()
            {
                $("#addEntry").click(function(event)
                {
                    $("#ingredients").append("<div id='ingredientEntry'><input type='text' id='entryInputs' name='ingredient' placeholder='Enter ingredient...'><button type='button' class='removeEntry pure-button'>X</button></div>");
                });

				$(document).on("click", ".removeEntry", function(event)
				{
					console.log("Clicked remove");
					$(this).closest('div').remove();
				});
            });
        </script>

        <style type="text/css">
        	.savedRecipes {
        		margin-right: 10px;
        		background-color: white;
        		list-style-type: square;
        		display: inline-block;
        		float: right;
        	}
        	.savedRecipes li {
        		list-style-type: square;
        	}
        	body {
				color: rgb(44, 44, 44);

				min-width: 450px;
				line-height: 1.25;
				font-size: 90%;
				margin: 1.5rem;
			}

			h3 {
				text-decoration: underline;
				text-align: center;
			}

			.form {
				background-color: white;
				float:left;

			}

			.uploadedIMG {
				margin-left: 10px;
			}

			li {
				margin-right:10px;
			}


        </style>
{% endblock jquery %}

{% block content %}
<body>
    <h1 class="centeredTitle">Make Your Own Recipe!</h1>
    <div width="auto" height="auto" align="center">
	    <form action="{% url 'recipeEntry' %}" method="POST" class="pure-form pure-form-stacked">
			{% csrf_token %}
			{% comment %} {{ form }} {% endcomment %}
			<label for="drinkName">Drink Name:</label>
			<input type="text" name="drinkName" id="drinkName">
			
			<label for="ingredients">Ingredients:</label>
			<div name="ingredients" id="ingredients">
				<div id="ingredientEntry">
					<input type="text" id="entryInputs" name="ingredient" placeholder="Enter ingredient...">
					<button type="button" class="removeEntry pure-button">X</button>
				</div>
			</div>
			<button id="addEntry" class="pure-button" type="button">+</button>

			<label for="instructions">Instructions:</label>
			<textarea name="instructions" id="instructions"></textarea>

			<label for="description">Description:</label>
			<textarea name="description" id="description"></textarea>

			{% comment %} <label for="image">Image:</label>
			<input type="file" accept="image/*" name="image" id="image"> {% endcomment %}

			<input type="submit" value="Submit">
	    </form>

	    <!--Saved Recipe region-->
	    <div class="savedRecipes" align="right">
	        <h3>Saved Recipes</h3>
	        <ul> 
				{% for drink in customDrinks %}
					<li>{{ drink }}</li>
				{% endfor %}
	        </ul>
	    </div>
	</div>
</body>
{% endblock content %}