/* Navigation menu and menu item styling */
.navmenu
{
    background-color: #0e49ecf8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

.navitem
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active
{
    background-color: rgb(4, 11, 109);
}

.navitem:not(.active):hover
{
    background-color:rgba(86, 134, 223, 0.788);
}

a:link, a:visited
{
    text-decoration: none;
}

a:visited
{
    color: white;
}

/* Homepage styling */
#entryInputs
{
    padding: 30px;
}

.searchEntry
{
    display: block;
    margin: auto;
    width: 20%;
}

#addEntry
{
    display: block;
    margin: auto;
    
}

.centeredTitle
{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

/* Search result styling */
#resultList
{
    margin: auto;
    width: 40%;
}

.resultItem
{
    margin: auto;
    padding-bottom: 20px;
}