/* General styling */
a.buttonLink
{
    -webkit-appearance: button;
    text-decoration: none;
    color: initial;
    margin: auto;
    text-align: center;
    padding: 5% 10% 10% 10%;
}

.centeredContainer
{
    padding: 10px;
    margin: auto;
    width: auto;
}

.centeredEntry
{
    padding: 10px;
    margin: auto;
    width: 20%;
}
.centeredButtons
{
    display: block;
    margin: 10px 40%;
}

.centeredTitle
{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation menu and menu item styling */
.navmenu
{
    background-color: #0e49ecf8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

.navitem
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active
{
    background-color: rgb(4, 11, 109);
}

.navitem:not(.active):hover
{
    background-color:rgba(86, 134, 223, 0.788);
}

li.navitem a:link, 
li.navitem a:visited
{
    text-decoration: none;
}

li.navitem a:visited
{
    color: white;
}

/* Homepage styling */
.searchEntry
{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.centeredButtons #addEntry
{
    margin: 5px 45%;
}

.centeredButtons #searchDrinks
{
    margin: 5px 22%;
}

/* Search result styling */
#resultList
{
    margin: auto;
    width: 40%;
}

.resultItem
{
    border-bottom: 10px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
}

.resultItem:hover 
{
    box-shadow: 0 8px 16px 4px rgba(0,0,0,0.2);
}

.resultItem img
{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px 20px;
}

.resultItem ul
{
    width: 30%;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.resultItem a, ul
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ingredientAvailable
{
    color: green;
    text-decoration-line: line-through;
}

.ingredientInList
{
    color: blue;
    text-decoration-line: line-through;
}

.ingredientUnavailable
{
    color: red;
}

/* Styling for details page */
.drinkName
{
    color: gray;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 22pt;
}

.drinkInfo
{
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.comments
{
    background-color: gray;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#recommendation-table
{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}

#recommendation-card
{
    list-style-type: none;
}

#recommendation-card img
{
    height: 150px;
    width: 150px;
}

#rating {
    padding-top: 5px;
}

.Recommendation {
    padding-left: 0.5%;
}

.Description {
    padding-left: 1%;
    font-size: 24px;
}

.Description p {
    font-size: 16px;
}

.Instructions {
    max-width: 350px;
    counter-reset: instructions-counter;
    list-style: none;
    padding-left: 50px;
}
.Instructions li {
    margin: 0 0 0.5rem 0;
    counter-increment: instructions-counter;
    position: relative;
    padding-top: 5px;
    font-size: 20px;

}
.Instructions li::before {
    content: counter(instructions-counter);
    font-size: 24px;
    position: absolute;
    --size: 26px;
    left: calc(-1 * var(--size) - 15px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    color: #D3D3D3;
    top: 0;
    text-align: center;
    box-shadow: 3px 2px 0 #999;
    background: black;
    border-radius: 8%;
}

.container {
    display: block;
    position: relative;
    padding-left: 1%;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 20px;
}

.addtocart {
    margin: 1%;
}

.rating {
    border: none;
}

#drinkimg {
    border:4px solid #021a40;
}

.rating {
    display: inline-block;
}

/* Styling for new custom drinks page */
#ingredientEntry input
{
    display: inline;
}