/* General styling */
a.buttonLink
{
    -webkit-appearance: button;
    text-decoration: none;
    color: initial;
    margin: auto;
    text-align: center;
    padding: 5% 10% 10% 10%;
}

.centeredContainer
{
    padding: 10px;
    margin: auto;
    width: 10%;
}

.centeredButtons
{
    display: block;
    margin: auto;
}

.centeredTitle
{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

/* Navigation menu and menu item styling */
.navmenu
{
    background-color: #0e49ecf8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

.navitem
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active
{
    background-color: rgb(4, 11, 109);
}

.navitem:not(.active):hover
{
    background-color:rgba(86, 134, 223, 0.788);
}

li.navitem a:link, 
li.navitem a:visited
{
    text-decoration: none;
}

li.navitem a:visited
{
    color: white;
}

/* Homepage styling */
.searchEntry
{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

/* Search result styling */
#resultList
{
    margin: auto;
    width: 40%;
}

.resultItem
{
    margin: auto;
    padding-bottom: 20px;
}

/* Styling for details page */

.drinkName
{
    color: gray;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 22pt;
}

.drinkInfo
{
    border-radius: 15px;
    background-color: white;
}

.comments
{
    background-color: gray;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}